.ionTabs {
    position: relative;
}
    .ionTabs__head {
        position: relative; display: block;
        list-style-type: none;
        margin: 0; 
        padding: 0;
        z-index: 1;
    }
    .ionTabs__head:before, .ionTabs__head:after {content: ""; display: table;}
    .ionTabs__head:after {clear: both;}
    .ionTabs__head {zoom: 1;}

        .ionTabs__tab {
            position: relative;
            display: inline-block; 
            float: left;
            list-style-type: none;
            background: none;
            margin: 0; padding: 0;
            cursor: pointer;
            float: right;
        }
            .ionTabs__tab.ionTabs__tab_state_active {
                cursor: default;
            }

    .ionTabs__body {
        position: relative;
        z-index: 2;
    }

    .ionTabs__item {
        position: relative;
        display: none;
    }
        .ionTabs__item.ionTabs__item_state_active {
            display: block;
        }

    .ionTabs__preloader {
        position: relative;
    }

    
.ionTabs {

}
    .ionTabs__head {
        border-bottom: 1px solid #cecece;
        border-radius: 5px;
        transform: scale(1, -1);
        position: relative;
        top: 44px;
    }

    .ionTabs__tab {
        font-size: 13px !important;
        line-height: 13px;
        background: #ededed;
        border: 1px solid #cecece;
        border-bottom: none;
        padding: 10px 25px 10px;
        margin-right: 10px;
        color: #808382;
        margin-top: 10px;
        text-align: center;
        min-width: 50px;
        font-weight: 600;
        border-radius: 3px 3px 0 0;
        top: 35px;
        transform: scale(1, -1);
    }
        .ionTabs__tab:hover {
            background: #e5e5e5;
        }
        .ionTabs__tab.ionTabs__tab_state_active {
            background: #fff;
            color: #333;
            top: 34px;
        }

        .ionTabs__tab:last-child{
            position: relative;
            left: 5px;
        }

    .ionTabs__body {
        background: #fff;
        border: 1px solid #cecece;
        border-top: none;
        border-radius: 5px;
    }

    .ionTabs__item {
        padding: 17px;
    }

    .ionTabs__preloader {
        height: 50px;
        background: url(../img/preloader-flat.gif) no-repeat 25px 50%;
    }