// FOOTER

footer {
  color: #959a9b;
  font-size: 13px;
  position: relative;

  & li {
    display: inline-block;
  }

}

.nav-item {
  text-decoration: none;
  text-align: left;
  color: #959a9b;
}

.copyright {
  text-align: center;
}

.privacy-policy {
  color: #62b9dc;
  text-decoration: none;
}

